#logo {
  padding: 10px 10px;
}

.nav-item > a {
  border: 1px ridge black;
  color: turquoise;
}

.active {
  background-color: turquoise !important;
}
.nav-item > a:hover {
  color: white;
  background-color: turquoise;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: turquoise;
  color: white;
}

#content {
  position: relative;
  padding-bottom: 50px;
  /* padding: 20px 20px; */
  /* margin: 50px auto; */
  /* padding: 50px 0px; */
}

.card {
  position: relative;
  margin: 50px auto;
  margin-bottom: 50px;
}

.btn-primary {
  background-color: turquoise;
  border: none;
}

.btn-primary:hover {
  border: 2px white ridge;
  background-color: turquoise;
}

#purchase_form {
  margin: 50px auto;
}
