#purchase_form {
  margin: 50px auto;
}

.btn-primary {
    font-size: large;
}

#total {
    padding-left: 20px;
    padding-right: 20px;
}

#quantity_input {
    width: 60px;
    margin-bottom: 10px;
}
